h2.posts {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #36364F; }

input.form-control {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 10px;
  color: #36364F;
  height: 40px; }

textarea.form-control {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
  height: 200px;
  width: 450px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #36364F; }

button.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #36364F;
  color: #DBEAE3;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 86px;
  text-transform: uppercase; }
  button.btn:hover {
    background-color: #5f5f8c;
    color: #DBEAE3; }

.navBar {
  background: #d5d5e2; }
  .navBar:hover {
    background: #36364F; }
    .navBar:hover a {
      color: #DBEAE3; }

ul.navItems {
  margin-top: 127px;
  text-align: center; }
  ul.navItems li {
    display: inline;
    margin: 0 auto; }
    ul.navItems li a {
      color: #36364F;
      text-decoration: none;
      font-family: 'Monoton', cursive;
      font-size: 30px;
      margin-top: 15px; }
      ul.navItems li a:hover {
        color: #DBEAE3; }

body {
  background: #DBEAE3;
  margin: 0;
  padding: 0; }

.logoCol {
  background: #d5d5e2; }

.instaLogo {
  width: 120px;
  margin: 0 auto;
  display: block;
  border: 7px solid #DBEAE3;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px; }

h2.likePost {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #36364F; }

.likeableImages {
  margin-top: 10px;
  margin-bottom: 40px; }

img.imageLike {
  width: 400px;
  height: 350px;
  margin: 0 auto;
  display: block;
  border: 3px solid #36364F;
  padding: 4px;
  border-radius: 4px;
  background: #d5d5e2; }
