h2.posts {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #36364F; }

form {
  padding-top: 20px; }

input.form-control {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 450px;
  margin-bottom: 10px;
  color: #36364F;
  height: 40px; }

textarea.form-control {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
  height: 200px;
  width: 450px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #36364F; }

button.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #36364F;
  color: #DBEAE3;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 86px;
  text-transform: uppercase; }
  button.btn:hover {
    background-color: #5f5f8c;
    color: #DBEAE3; }

h2.detailsTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #36364F; }

.detail {
  background: #d5d5e2;
  border: 3px solid #36364F;
  border-radius: 4px;
  width: 750px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center; }

img.singleImg {
  width: 400px;
  height: 350px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  position: relative; }

h3.singleTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Monoton", cursive;
  font-size: 25px;
  color: #36364F;
  text-align: center; }

p.singleDeats {
  font-family: "Open Sans Condensed", sans-serif;
  color: #36364F;
  font-size: 20px;
  text-align: center; }

.amountLikes {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  color: #36364F;
  font-size: 20px; }

.deatHeartIcon {
  margin-top: 20px;
  text-align: center; }

i.fa {
  font-size: 30px;
  color: #36364F;
  font-weight: bold; }

i.fa.bigHeartTwo {
  font-size: 100px;
  color: white;
  position: absolute;
  margin-top: -216px;
  margin-left: 144px; }

i.fa.bigHeartTwo {
  display: block !important; }

.navBar {
  background: #d5d5e2; }
  .navBar:hover {
    background: #36364F; }
    .navBar:hover a {
      color: #DBEAE3; }

ul.navItems {
  margin-top: 127px;
  text-align: center; }
  ul.navItems li {
    display: inline;
    margin: 0 auto; }
    ul.navItems li a {
      color: #36364F;
      text-decoration: none;
      font-family: 'Monoton', cursive;
      font-size: 30px;
      margin-top: 15px; }
      ul.navItems li a:hover {
        color: #DBEAE3; }

body {
  background: #DBEAE3;
  margin: 0;
  padding: 0; }

.logoCol {
  background: #d5d5e2; }

.instaLogo {
  width: 120px;
  margin: 0 auto;
  display: block;
  border: 7px solid #DBEAE3;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px; }

h2.likePost {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #36364F; }

img.imageLike {
  width: 374px;
  height: 350px;
  margin: 0 auto;
  display: block;
  border: 3px solid #36364F;
  padding: 4px;
  border-radius: 4px;
  background: #d5d5e2; }

ul {
  text-align: center; }

li {
  display: inline-block;
  margin-right: 15px; }

.heartIcon {
  margin-top: 20px; }

i.fa.bigHeart {
  color: white;
  font-size: 90px;
  margin-left: 185px;
  position: absolute;
  margin-top: -215px; }

i.fa {
  font-size: 30px;
  color: #36364F;
  font-weight: bold; }
  i.fa:hover {
    cursor: pointer; }

.linkIcon p {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #36364F; }

.numberLikes p {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #36364F; }
