h2.detailsTitle {
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
	font-family:$main-font;
	font-size:40px;
	color:$navy;
}

.detail {
	background: lighten($navy,60);
	border:3px solid $navy;
	border-radius:4px;
	width:750px;
	margin:0 auto;
	margin-bottom:30px;
	text-align:center;
}

img.singleImg {
	width:400px;
	height:350px;
	//float:right;
	margin-bottom:30px;
	margin:0 auto;
	display:block;
	padding:20px;
	position:relative;
	
}

h3.singleTitle {
	margin-top:20px;
	margin-bottom:20px;
	font-family:$main-font;
	font-size:25px;
	color:$navy;
	text-align:center;
}

p.singleDeats {
	font-family:$text-font;
	color:$navy;
	font-size:20px;
	text-align:center;
}

.amountLikes {
	display:inline-block;
	font-family:$text-font;
	color:$navy;
	font-size:20px;
}

.deatHeartIcon {
	margin-top:20px;
	text-align:center;
}

i.fa{
	font-size:30px;
	color:$navy;
	font-weight:bold;
}	

i.fa.bigHeartTwo {
	font-size:100px;
	color:white;
	position:absolute;
	margin-top:-216px;
	margin-left:144px;
}

i.fa.bigHeartTwo{
	display:block !important;
}