.navBar {
	background:lighten($navy,60);
	//height:20px;
	&:hover {
		background:$navy;
		a {
			color:$bckrnd;
		}
	}
}		
	
ul.navItems {

	margin-top:127px;
	text-align:center;
	li {
		display:inline;
		margin: 0 auto;
		a {
			color:$navy;
			text-decoration: none;
			font-family:'Monoton', cursive;
			font-size: 30px;
			margin-top: 15px;
			&:hover {
				color:$bckrnd;


			}
		}
	}
}	
