$bckrnd:#DBEAE3;
$purp:#565054;
$grn:#5F9581;
$brown:#F7D186;
$drkbrwn:#C9812D;
$navy:#36364F;
$pink:#EF3964;
$main-font:'Monoton', cursive;
$text-font:'Open Sans Condensed', sans-serif;

@import 'add';
@import 'detail';
@import 'nav';

body{
	background:$bckrnd;
	margin:0;
	padding:0;
}


.logoCol {
	// border-bottom:4px solid $navy;
	// border-right:4px solid $navy;
	// border-left:4px solid $navy;
	// border-radius:4px;
	background:lighten($navy,60);
}

.instaLogo {
	width:120px;
	margin:0 auto;
	display:block;
	border:7px solid $bckrnd;
	border-radius:40px;
	margin-top:30px;
	margin-bottom:30px;
}

h2.likePost {
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	font-family:$main-font;
	font-size:40px;
	color:$navy;
}

.likeableImages {
	margin-top:20px;

}

img.imageLike {
	width:374px;
	height:350px;
	margin:0 auto;
	display:block;
	border:3px solid $navy;
	padding:4px;
	border-radius:4px;
	background:lighten($navy,60);
	
}

.heartIcon{
	text-align:center;
	margin-top:20px;
}

i.fa{
	font-size:30px;
	color:$navy;
	font-weight:bold;
	// &:hover {
	// 	color:red;
	// }
}

.numberLikes p {
	text-align:center;
	font-size:20px;
	font-family:$text-font;
	color:$navy;
}