<h2 class="detailsTitle">Post Details</h2>

<div class="detail row">
	<div class="col-md-6 imageCol">
		<div class="likeSection">
			<!-- <img ng-dblclick="controller.likeImage(controller.detail)" ng-init="count=0" src="{{controller.detail.url}}" class="singleImg" ng-dblclick="showClick=false" ng-dblclick="showClick=true">
			<i id="firstHeart" ng-hide="showClick" class="fa fa-heart-o" aria-hidden="true"></i>
			<i id="firstHeart" ng-show="showClick" class="fa fa-heart-o" aria-hidden="true"></i> -->
			<img ng-dblclick="controller.likeImage(controller.detail)" ng-init="count=0" src="{{controller.detail.url}}" class="singleImg">
			<i class="fa fa-heart-o bigHeartTwo ng-hide" ng-show="controller.detail.showClick"></i>
		</div>
			
	</div>

	<div class="col-md-6 titleDeats">
		
		<h3 class="singleTitle">{{controller.detail.title}}</h3>

		<p class="singleDeats">{{controller.detail.description}}</p>

		<div class="deatHeartIcon">
			<i ng-click="controller.likeImage(controller.detail)" ng-init="count=0" class="fa fa-heart-o" aria-hidden="true"></i>
			<p class="amountLikes">{{controller.detail.likes}} Likes</p>
		</div>	
	</div>
</div>